<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Email-Setup</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/stylesheets/loginStyle.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

    <div id="fullscreen_bg" class="fullscreen_bg"/>
    
    <div class="container">
    
        <form class="form-signin" action="signup" method="POST">
            <h1 class="form-signin-heading text-muted">Sign-up</h1>
            User Name:
            <input type="text" id="username" class="form-control" placeholder="UserName" name = "username" required="" autofocus="">
            Name:
            <input type="text" id="name" class="form-control" placeholder="Name" name = "name" required="" autofocus="">
            Email:
            <input type="text" id="email" class="form-control" placeholder="Email address" name = "email" required="" autofocus="">
            Address:
            <input type="text" id="number" class="form-control" placeholder="Number" name = "number" required="" autofocus="">
            <input type="text" id="city" class="form-control" placeholder="City" name = "city" required="" autofocus="">
            <input type="text" id="state" class="form-control" placeholder="State" name = "state" required="" autofocus="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign Up
            </button>
        </form>
        <div class="register">
            <a href="login">
            <button class="btn btn-lg btn-primary btn-block register" type="submit">
                Already have account
            </button>
            </a>
            </div>
    </div>



</body>


</html>